@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #311847, #3EB9E6) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Abel', sans-serif;
    color: white;
    animation-name: introduction;
    animation-duration: 2s;
    overflow-y: scroll;
    scrollbar-width: none;
}

.location{
    margin-top: 5rem;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}

.location,
.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location-timezone{
    font-size: 50px;
}

.temperature{
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.temperature-degree{
    font-size: 80px;
    cursor: pointer;
    pointer-events: auto;
    transition: color 1s;
}

.temperature-degree:hover{
    color: #41A5CF;
}

.degree-section span{
    color: #3EB9E6;
    margin: 10px;
    font-size: 80px;
    cursor: pointer;
    transition: color 1s;
}

.degree-section:hover span{
    color: #fff;
}


.temperature-description{
    font-size: 22px;
    font-weight: bold;
}

form{
    display: block;
    margin-top: 3rem;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}

input:focus {
    outline: none;
}

.weather {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.weather h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

@keyframes introduction {
    0%{
        bottom: -320px;
        opacity: 0;
        
    }
    100%{
        
        opacity:1;
        bottom: 0px;
    }
}

@media screen and (max-width: 480px) {
    .location{
        margin-top: 10rem;
        flex-direction: column;
    }

    .location-timezone{
        font-size: 30px;
    }

    .temperature-description{
        font-size: 16px;
    }

    body{
        height: 100vh;
    }
}